<?xml version="1.0"?>
<launch>

  <node pkg="omni_lidar_camera_fusion" type="lidar_camera_fusion_node" name="lidar_camera_fusion_node" output="screen">
    <rosparam file="$(find omni_lidar_camera_fusion)/config/omni_lidar_camera_fusion.yaml"/>
  </node>

  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find omni_lidar_camera_fusion)/rviz/lidar_camera.rviz" />

</launch>
